@model IEnumerable<SCP___AgroGerente.Models.CadastroMicrorregiao>

@{
    ViewBag.Title = "Index";
    int valorsaca = Convert.ToInt32(ViewBag.valorcultura);
}

<div class="Cabecalho">
    <div class="left">
        <h2>Microrregiões</h2>
       
    </div>
    <div class="right">

        @Html.ActionLink("Novo Cadastro", "Create", string.Empty, new { @class = "icone new" })

    </div>
    <div class="clear"></div>
    <div class="box">

        @using (Html.BeginForm())
        {
            <p>
                Culturas: @Html.DropDownList("SearchString", (IEnumerable<SelectListItem>)ViewData["Culturas"], "Todas")
                
            </p>
        }
    </div>
    <hr />
</div>
<table class="tabelaFormatada">
    <tr>
        <th rowspan="4">
            Microrregiões
        </th>
       <th colspan="8"> Preços Médios Referênciais</th>
        <th rowspan="4"> Ações</th>
    </tr>
    <tr> 
        <th colspan="4" class="borderRight">Terra Bruta/Nua*</th>
        <th colspan="4" class="borderLeft">Terra Corrigida/Cultivada</th>

    </tr>

    <tr> 
        <th colspan="2">Inferior</th>
        <th colspan="2" class="forcedBack borderRight">Superior</th>
        <th colspan="2" class="borderLeft">Inferior</th>
        <th colspan="2" class="forcedBack">Superior</th>
    </tr>

    <tr>
        <th>R$/ha</th>
        <th>sc/ha</th>
        <th class="forcedBack">R$/ha</th>
        <th class="forcedBack borderRight">sc/ha</th>
        <th class="borderLeft">R$/ha</th>
        <th>sc/ha</th>
        <th class="forcedBack">R$/ha</th>
        <th class="forcedBack">sc/ha</th>
    </tr>


    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MicrorregiaoNome)
        </td>
        <td class="alignRight">
            <i> @string.Format("{0:C}", valorsaca * item.MicrorregiaoBrutaNuaInferiorSaca)</i>

        </td>
        <td class="alignRight">
            @Html.DisplayFor(modelItem => item.MicrorregiaoBrutaNuaInferiorSaca)
        </td>
        <td class="forcedBack alignRight">
            <i> @string.Format("{0:C}", valorsaca * item.MicrorregiaoBrutaNuaSuperiorSaca)</i>
        </td>
        <td class="forcedBack alignRight borderRight">
            @Html.DisplayFor(modelItem => item.MicrorregiaoBrutaNuaSuperiorSaca)
        </td>
        <td class="alignRight borderLeft">
            <i> @string.Format("{0:C}", valorsaca * item.MicrorregiaoCurrigidaCultivadaInferiorSaca)</i>
        </td>
        <td class="alignRight">
            @Html.DisplayFor(modelItem => item.MicrorregiaoCurrigidaCultivadaInferiorSaca)
        </td>
        <td class="forcedBack alignRight">
            <i> @string.Format("{0:C}", valorsaca * item.MicrorregiaoCurrigidaCultivadaSuperiorSaca)</i>
        </td>
        <td class="forcedBack alignRight">
            @Html.DisplayFor(modelItem => item.MicrorregiaoCurrigidaCultivadaSuperiorSaca)
        </td>
       
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new {@class = "icone edit" })
            @Ajax.ActionLink(" ", "Delete", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", Confirm = "Deseja mesmo deletar?", OnSuccess = "window.location.reload()" }, new { @class = "icone delete" })
        </td>
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    $("#SearchString").on("change", function () { $(".box form").submit() })


</script>