@model IEnumerable<SCP___AgroGerente.Areas.Projetos.Model.CadastroBancoQuestoes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Projetos/Views/Shared/_Layout.cshtml";
}

<div class="Cabecalho">
    <div class="left">
        <h2>Cadastro de Questões para os tipos</h2>


    </div>
    <div class="right">

        @Html.ActionLink("Novo Cadastro", "Create", string.Empty, new { @class = "icone new" })

    </div>
    <div class="clear"></div>

</div>


<br />

@{
    WebGrid grid = new WebGrid(Model);
}

@grid.GetHtml(tableStyle: "tabelaFormatada", columns: new[] {
    grid.Column("BancoQuestoesAtivo", header:" Ativo?",style:"width1 alignCenter",format:@<text>

        @if (item.BancoQuestoesAtivo == true)
        {
            <text>Sim</text>
        }
        else
        {
            <text>Não</text>
        }



    </text>), 
grid.Column("CadastroBQTipo.BQTipo", header:"Tipo de Pergunta",style:" "),

 grid.Column("BancoQuestoesPergunta", header:"Questão",style:" "),

  grid.Column("",header:"Ações",format:@<text>

    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icone edit" })
    @Ajax.ActionLink(" ", "Delete", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", Confirm = "Deseja mesmo deletar?", OnSuccess = "window.location.reload()" }, new { @class = "icone delete" })


</text>)


})

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

