@model SCP___AgroGerente.Models.CadastroBenfeitoria

@{
    ViewBag.Title = "Criar Benfeitoria";
}

@section featured {

    @RenderPage("~/Views/Shared/ClientPartial.cshtml")

}
<div class="Cabecalho">
    <div class="left">
        <h2>Criar Benfeitoria</h2>

    </div>
    <div class="right">
        <a href="javascript:window.history.back();" class="icone Goback" title="Voltar">Voltar para a lista</a>
    </div>
    <div class="clear"></div>

</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>@Html.ValidationMessageFor(model => model.BenfeitoriaFazenda,"É necessário escolher uma Fazenda")</div>
    <div>@Html.ValidationMessageFor(model => model.BenfeitoriaQuantidade, "Qual a quantidade?")</div>
    <div>@Html.ValidationMessageFor(model => model.BenfeitoriaValor, "Defina o valor desta benfeitoria")</div>


    <fieldset>
        <legend>CadastroBenfeitoria</legend>
        <div class="box">
            
           
          @Html.Hidden("BenfeitoriaUsuario", (int)Session["UserID"])
                @Html.Hidden("BenfeitoriaAtiva",true)
           
            <div class="left" style="padding-right: 20px">
                <div class="editor-label">
                    @Html.LabelFor(model => model.BenfeitoriaFazenda, "Será usada na Fazenda:")
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.BenfeitoriaFazenda, (IEnumerable<SelectListItem>)ViewData["Fazendas"], "Selecione")
                    
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <h3>Informações da Benfeitoria</h3>
        <br />
        <div class="left" style="padding-right: 20px">

            <div class="editor-label">
                @Html.LabelFor(model => model.BenfeitoriaQuantidade, "Quantidade")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BenfeitoriaQuantidade)
                
            </div>
        </div>
        <div class="left" style="padding-right: 20px">

            <div class="editor-label">
                @Html.LabelFor(model => model.BenfeitoriaEspecificacao, "Especificação")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BenfeitoriaEspecificacao)
            </div>
        </div>
        <div class="left" style="padding-right: 20px">

            <div class="editor-label">
                @Html.LabelFor(model => model.BenfeitoriaCaracteristicas, "Características")
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.BenfeitoriaCaracteristicas, new { rows = "5" })
            </div>
        </div>
        <div class="left" style="padding-right: 20px">

            <div class="editor-label">
                @Html.LabelFor(model => model.BenfeitoriaAno, "Ano")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BenfeitoriaAno)
            </div>
        </div>
        <div class="left" style="padding-right: 20px">

            <div class="editor-label">
                @Html.LabelFor(model => model.BenfeitoriaEstadoConservacao, "Estado de conservação")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BenfeitoriaEstadoConservacao)
            </div>
        </div>
        <div class="left" style="padding-right: 20px">

            <div class="editor-label">
                @Html.LabelFor(model => model.BenfeitoriaValor, "Valor")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BenfeitoriaValor)
                
            </div>
        </div>

        <div class="clear"></div>

        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



