@model SCP___AgroGerente.Models.CadastroBensDireitos

@{
    ViewBag.Title = "Create";
}

@section featured {

    @RenderPage("~/Views/Shared/ClientPartial.cshtml")

}

<div class="Cabecalho">
    <div class="left">
        <h2>Criar Bem ou Direito</h2>

    </div>
    <div class="right">
        <a href="javascript:window.history.back();" class="icone Goback" title="Voltar">Voltar para a lista</a>
    </div>
    <div class="clear"></div>

</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     @Html.Hidden("BensDireitosUsuarioID", (int)Session["UserID"])

    <fieldset>
        <legend>CadastroBensDireitos</legend>
        <br />
        <div class="left">
            <div class="editor-label">
                Categoria
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BensDireitosCategoria)
                @Html.ValidationMessageFor(model => model.BensDireitosCategoria)
            </div>
        </div>
        <div class="left" style="padding-left:10px">
            <div class="editor-label">
               Características
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.BensDireitosCaracteristicas)
                @Html.ValidationMessageFor(model => model.BensDireitosCaracteristicas)
            </div>
        </div>
        <div class="left" style="padding-left:10px">
            <div class="editor-label">
                Valor
            </div>
            <div class="editor-field">
                <input class="check-box" checked="checked" data-val="true" data-val-required="O campo EtapaAtiva é obrigatório." id="EtapaAtiva" name="EtapaAtiva" type="checkbox" value="true">
                <input name="EtapaAtiva" type="hidden" value="true">
                
                @Html.ValidationMessageFor(model => model.BensDireitosValor)
            </div>
            </div>
        <div class="clear"></div>

            <p>
                <input type="submit" value="Criar Bem ou direito" />
            </p>
</fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
