@model SCP___AgroGerente.Areas.Projetos.Model.CadastroTipoEtapa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Projetos/Views/Shared/_Layout.cshtml";
}

<div class="Cabecalho">
    <div class="left">
        <h2>Editar Tipo de Etapa</h2>

    </div>
    <div class="right">
        <a href="javascript:window.history.back();" class="icone Goback" title="Voltar">Voltar para a lista</a>
    </div>
    <div class="clear"></div>

</div>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
 @Html.HiddenFor(model => model.ID)
      <fieldset>
        <legend>CadastroTipoEtapa</legend>


        <div class="box">
            <div class="left">


                <div class="editor-label">
                    Ativa?
                </div>
                <div class="editor-field">
                    <input class="check-box" checked="checked" data-val="true" data-val-required="O campo EtapaAtiva é obrigatório." id="TipoEtapaAtiva" name="TipoEtapaAtiva" type="checkbox" value="true">
                    SIM <input name="TipoEtapaAtiva" type="hidden" value="true">
                    @Html.ValidationMessageFor(model => model.TipoEtapaAtiva)
                </div>
            </div>
            <div class="left" style="padding-left:10px">
                <div class="editor-label">
                    Ordenação
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TipoEtapaOrdem, new { @class = "width1" })
                    @Html.ValidationMessageFor(model => model.TipoEtapaOrdem)
                </div>
                '
            </div>
            <div class="left" style="padding-left:10px">
                <div class="editor-label">
                    Define-se como
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.TipoEtapaTipo, (IEnumerable<SelectListItem>)ViewData["TipoCadastroEtapa"], "Selecione")
                    @Html.ValidationMessageFor(model => model.TipoEtapaTipo)
                </div>
            </div>
            <div class="left" style="padding-left:10px">
                <div class="editor-label">
                    Nome do tipo de Recurso
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TipoEtapaNome)
                    @Html.ValidationMessageFor(model => model.TipoEtapaNome)
                </div>
            </div>
            <div class="clear"></div>
        </div>









        <p>
            <input type="submit" value="Salvar Alterações" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
