@model SCP___AgroGerente.Areas.Projetos.Model.CadastroProduto

@{
    ViewBag.Title = "Create";    
    Layout = "~/Areas/Projetos/Views/Shared/_Layout.cshtml";
    
}

<div class="Cabecalho">
    <div class="left">
        <h2>Criar Produto</h2>

    </div>
    <div class="right">
        <a href="javascript:window.history.back();" class="icone Goback" title="Voltar">Voltar para a lista</a>
    </div>
    <div class="clear"></div>

</div>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CadastroProduto</legend>

        <div class="box">
            <div class="left">
                <div class="editor-label">
                    Ativa?
                </div>
                <div class="editor-field">
                    <input class="check-box" checked="checked" data-val="true" data-val-required="O campo MarcaAtiva é obrigatório." id="MarcaAtiva" name="MarcaAtiva" type="checkbox" value="true">
                    SIM <input name="MarcaAtiva" type="hidden" value="true">
                    @Html.ValidationMessageFor(model => model.MarcaAtiva)
                </div>
            </div>
            <div class="left" style="padding-left:10px">
                <div class="editor-label">
                   Nome da Marca
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.MarcaNome, new { @style = "width:300px" })
                    @Html.ValidationMessageFor(model => model.MarcaNome)
                </div>
            </div>
            <div class="left" style="padding-left:10px">
                <div class="editor-label">
                    Unidade de Medida
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.MarcaUnidadeMedida)
                    @Html.ValidationMessageFor(model => model.MarcaUnidadeMedida)
                </div>
            </div>
            <div class="left" style="padding-left:10px">
                <div class="editor-label">
                    Tipo de Etapa
                </div>
                <div class="editor-field">
                    @Html.DropDownList("MarcaEtapa", null, "Selecione...",htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MarcaEtapa)
                </div>
            </div>
           
           
            <div class="clear"></div>
            </div>
        <br />
            <div>
                <div class="editor-label">
                    Especificação que será usada no Orçamento Analítico
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.MarcaEspecificacao, new { @style = "width:400px" })
                    @Html.ValidationMessageFor(model => model.MarcaEspecificacao)
                </div>
            </div>
                <p>
                    <input type="submit" value="Criar Produto" />
                </p>
</fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
