@model IEnumerable<SCP___AgroGerente.Models.VeiculoFazendaUsuario>

@{
    ViewBag.Title = "Index";
}



<div class="Cabecalho">
    <div class="left">
        <h2>Lista de Veículos</h2>
    </div>
  
    <div class="clear"></div>
    <div class="box">
        <div class="left">
            @using (Html.BeginForm())
            {
                <p>
                    Fazendas: @Html.DropDownList("SearchString", (IEnumerable<SelectListItem>)ViewData["Fazendas"], "Todas")
                    <input type="submit" value="Filtrar" />
                </p>
            }
        </div>
        <div class="clear"></div>
    </div>
</div>
<table class="tabelaFormatada">
    <tr>
        <th>
            Status
        </th>
        <th>
           Especificação
        </th>
        <th>
            %
        </th>
        <th>
            Marca
        </th>
        <th>
            Modelo/Chassi
        </th>
        <th>
            Ano
        </th>
        <th>
            Estado
        </th>
        
        <th>
            Valor
        </th>
        
       
       
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td class="alignCenter">
            @if (item.VeiculoAtiva==true)
            {
               <span class="green"> @Html.Raw("Ativa")</span>
            }
            else
            {
               <span class="red"> @Html.Raw("Desativada") </span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoEspecificacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoPorcentagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoMarca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoModelo)<br />
            @Html.DisplayFor(modelItem => item.VeiculoChassiSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoAno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeiculoEstado)
        </td>
       
        <td>
            @string.Format("{0:C}", item.VeiculoValor)
        </td>
        
       
       
       
       
         
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new {@class = "icone edit" })
           @Ajax.ActionLink(" ", "Delete", new { id = item.ID }, new AjaxOptions { HttpMethod = "POST", Confirm = "Deseja mesmo deletar?", OnSuccess = "window.location.reload()" }, new { @class = "icone delete" })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
