@model SCP___AgroGerente.Models.SafraDistribuicao

@{
    ViewBag.Title = "Criar Distribuição de Safra";
}

@section featured {

    @RenderPage("~/Views/Shared/ClientPartial.cshtml")

}

<div class="Cabecalho">
    <div class="left">
        <h2>Criar Distribuição de Safra</h2>

    </div>
    <div class="right">
        <a href="javascript:window.history.back();" class="icone Goback" title="Voltar">Voltar para a lista</a>
    </div>
    <div class="clear"></div>

</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     @Html.Hidden("DistribuicaoSafraUsuarioID", (int)Session["UserID"])
    
    <div>@Html.ValidationMessageFor(model => model.DistribuicaoSafraTipo,"Selecione o tipo de Distribuição de Safra")</div>
    <div>@Html.ValidationMessageFor(model => model.DistribuicaoSafraFazenda, "Selecione a Fazenda")</div>

    <fieldset>
        <legend>SafraDistribuicao</legend>
        <div class="box">
            <div class="left" >
                <div class="editor-label">
                    @Html.LabelFor(model => model.DistribuicaoSafraSafra, "Safra")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("DistribuicaoSafraSafra", "Selecione")
                    @Html.ValidationMessageFor(model => model.DistribuicaoSafraSafra)
                </div>
            </div>
            <div class="left" style="padding-left:20px">
                <div class="editor-label">
                    Tipo de Distribuição de Safra
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.DistribuicaoSafraTipo, (IEnumerable<SelectListItem>)ViewData["EnumTipoDistribuicaoSafra"], "Selecione")

                </div>
            </div>
           
            <div class="left" style="padding-left:20px">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DistribuicaoSafraFazenda, "Fazenda")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("DistribuicaoSafraFazenda", "Selecione")
                </div>
            </div>
            <div class="clear"></div>
            </div>
        <br />
        <div class="left">
            <div class="editor-label">
                Sistema de Plantio
            </div>
            <div class="editor-field">
                @Html.DropDownList("DistribuicaoSafraSistemaPlantio", "Selecione")
                @Html.ValidationMessageFor(model => model.DistribuicaoSafraSistemaPlantio)
            </div>
            </div>
        <div class="left" style="padding-left:20px">
            <div class="editor-label">
               Área (ha)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DistribuicaoSafraArea, new { @Value = ViewData["funcaodistribuicaoareasafra"] })
                @Html.ValidationMessageFor(model => model.DistribuicaoSafraArea)<br />
                O valor acima é o restante a ser distribuído, <br />na soma das áreas (ha) previstas menos o que já foi distribuído anteriormente

            </div>
            </div>
        <div class="left" style="padding-left:20px">
            <div class="editor-label">
                Cultura
            </div>
            <div class="editor-field">




                @Html.DropDownListFor(model => model.DistribuicaoSafraCultura, (IEnumerable<SelectListItem>)ViewData["Culturas"], "Selecione")






            </div>
        </div>
        <div class="left" style="padding-right: 20px">
            <div class="editor-label">
                @Html.LabelFor(model => model.DistribuicaoSafraObservacaoGravame, "Obs./Gravame")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.DistribuicaoSafraObservacaoGravame, (IEnumerable<SelectListItem>)ViewData["EnumObservacaoGravame"], "Selecione")
                @Html.ValidationMessageFor(model => model.DistribuicaoSafraObservacaoGravame)
            </div>
            </div>
            <div class="clear"></div>
            <p>
                <input type="submit" value="Criar Distribuição" />
            </p>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
